@font-face {
  font-family: "LuckiestGuy";
  src: url("../fonts/LuckiestGuy-Regular") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "mulish";
  src: url("../fonts/Mulish-Light") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "mulish";
  src: url("../font/Mulish-Regular") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "mulish";
  src: url("../font/Mulish-SemiBold") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "mulish";
  src: url("../font/Mulish-Bold") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "nunito";
  src: url("../font/Nunito-Regular") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "nunito";
  src: url("../font/Nunito-SemiBold") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "nunito";
  src: url("../font/Nunito-ExtraBold") format("truetype");
  font-weight: 900;
}