/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*outline: none;*/
/* outline: none;*/
/* Links */
/* color: inherit; */
 * text-decoration: none */
/* display: inline-block; */
/* color: inherit; */
 * text-decoration: none */
/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.container {
  width: 1110px;
  max-width: 98%;
  padding: 0px 5px;
  margin: 0px auto;
  border: 1px solid red;
}

body {
  background: #F5FAFE;
}

@media (max-width: 1200px) {
  .container {
    max-width: 992;
  }
}
@font-face {
  font-family: "Luckiest Guy";
  src: url("../fonts/LuckiestGuy.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: 900;
}
.header-navbar {
  padding: 40px 0;
  background: white;
}
.header-navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__text {
  font-family: "Luckiest Guy";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #333333;
}
.logo__text > span {
  color: red;
}

.search {
  width: 350px;
  height: 40px;
  background: #F5FAFE;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: 108px;
}
.search__text {
  font-family: "Mulish";
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  font-weight: 400;
  margin-left: 23px;
}
.search__btn {
  position: absolute;
  background: red;
  top: 0;
  right: 0;
  height: 100%;
  width: 65px;
}
.search__btn::after {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  content: "";
  background: url("../../img/icon/search.svg") no-repeat;
  width: 16px;
  height: 16px;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile__img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.profile__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.navbar {
  background: #0A223D;
  padding: 30px 0;
}
.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar__link {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: white;
}

.burger-btn {
  display: none;
}

@media (max-width: 992px) {
  .search {
    margin: auto;
  }
}
@media (max-width: 768px) {
  .header {
    color: #000000;
  }
  .container {
    width: 700px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 480px;
  }
  .logo__text {
    font-size: 20.4237px;
    line-height: 22px;
  }
  .search {
    display: none;
  }
  .profile {
    display: none;
  }
  .navbar {
    display: none;
  }
  .burger-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 16px;
    height: 11px;
  }
  .burger-btn span {
    background: #333333;
    width: 16px;
    height: 1px;
  }
}
.breadcrumbs {
  padding: 20px 0;
}
.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.breadcrumb__item {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  counter-reset: #333333;
}
.breadcrumb__item:not(:last-child)::after {
  content: "/";
  margin: 0 3px;
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
}
.stars__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: red;
  width: 50px;
  height: 50px;
}