@media (max-width:576px)
  .header

    &-navbar

    &__container
  .container
    width: 480px
  .logo

    &__text
      font-size: 20.4237px
      line-height: 22px

  .search
    display: none

    &__text

    &__btn
  .profile
    display: none

    &__img
      &__name

  .navbar
    display: none
    &__container

    &__item

    &__link

  .burger-btn
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 16px
    height: 11px
    span
      background: $l-black
      width: 16px
      height: 1px
  .hotel-info

    &__container

  .info
    width: 100%
    &__wrapper
      align-items: center
      justify-content: space-between
    &__text

  .stars
    width: max-content
  .star

    &__item

  .hotel

    &__name
      flex-basis: 100%
      margin-top: 10px

  .flash-offer
    order: -1
  .rate
    display: none
    &__text

    &__grade
