.about-us

  &__container

  &__think
    font-family: 'Mulish'
    font-style: normal
    font-weight: 700
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
    color: $l-black

  &__swiper
    background: none
    width: 100%
    &::after
      content: ''
      background: none

  &__swiper-wrapper

  &__swiper-slide
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

  &__img
    width: 90px
    height: 90px
    border-radius: 50%
    overflow: hidden
    background: red
    margin-bottom: 10px

  &__name
    margin-bottom: 10px

  &__data
    margin-bottom: 4px

  &__stars
    margin-bottom: 32px
    & svg
      height: 20px

  &__swiper-button-prev

  &__swiper-button-next
